NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

DATABASE_URL=

CONTACT_EMAIL=

CRED_ENCRYPTION_KEY=

NEXT_PUBLIC_BACKEND_ORIGIN=
BASE_URL=

## Stripe credentials
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

## Stripe product IDs
STRIPE_BASIC_PRODUCT=
STRIPE_GROWTH_PRODUCT=
STRIPE_SCALE_PRODUCT=

## Stripe price ID's
STRIPE_BASIC=
STRIPE_GROWTH=
STRIPE_SCALE=

## Stripe Inbox Overage price ID's
STRIPE_BASIC_INBOX_OVERAGE=
STRIPE_GROWTH_INBOX_OVERAGE=
STRIPE_SCALE_INBOX_OVERAGE=

## Stripe extra api calls Price ID's
STRIPE_BASIC_EXTRA_API_CALLS=
STRIPE_GROWTH_EXTRA_API_CALLS=
STRIPE_SCALE_EXTRA_API_CALLS=