NODE_ENV=development

FRONTEND_URL=

# Clerk Publishable Key
CLERK_PUBLISHABLE_KEY=
 
# Clerk Secret Key
CLERK_SECRET_KEY=
 
# Database URL
DATABASE_URL=

# Redis URL
REDIS_URL=

# The key used to override the need for clerk authentication
ADMIN_KEY=
 
# Logging: encryption key used to encrypt stored payloads (use a strong secret)
# If empty, payloads will be stored in plaintext (not recommended for production)
LOGS_ENCRYPTION_KEY=
 
# Number of days to retain logs. Default 14.
LOG_RETENTION_DAYS=14

CRED_ENCRYPTION_KEY=

ID_CREATION_SECRET=

# URL used for callbacks
API_URL=

PROXY_URL=

## Stripe credentials
STRIPE_SECRET_KEY=

# Google Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Azure Credentials
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

## Stripe product IDs
STRIPE_BASIC_PRODUCT=
STRIPE_GROWTH_PRODUCT=
STRIPE_SCALE_PRODUCT=