openapi: 3.1.1
info:
  title: MailLink API
  version: 1.0.0
  description: >
    Unified email connection and messaging API for Outlook, Gmail, and SMTP/IMAP.
servers:
  - url: https://api.maillink.co
    description: Production API
tags:
  - name: Connections
    description: Operations to initiate and manage provider connections (Outlook, Gmail, SMTP/IMAP).
  - name: Messages
    description: List, retrieve, and send emails via connected accounts.
  - name: Providers
    description: List supported providers.
paths:
  /v1/connection:
    post:
      tags:
        - Connections
      summary: Create a provider connection
      description: >
        Starts an OAuth connection (Gmail/Outlook) or directly connects via SMTP/IMAP.
        Requires a publishable key in the Authorization header:
        `Authorization: Bearer <publishableKey>`.
      operationId: createConnection
      security:
        - PublishableKeyAuth: []
      parameters:
        - name: providerCode
          in: query
          required: true
          schema:
            type: string
            enum: [outlook, gmail, smtp-imap]
          description: Provider to connect.
        - name: identifier
          in: query
          required: true
          schema:
            type: string
          description: Your app-specific identifier for the user/account being connected.
        - name: redirectAfterAuth
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: URL to redirect to after OAuth completes (URL-encoded in the request). On completion, `identifier`, `providerCode`, and `connectionId` will be appended as query parameters (e.g. `?identifier=user-123&providerCode=gmail&connectionId=abc-123`).
      requestBody:
        required: false
        description: Required only when providerCode is "smtp-imap" — provide SMTP/IMAP credentials.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SMTPIMAPCredentials"
      responses:
        "200":
          description: Connection initiated
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateConnectionOAuthResponse"
                  - $ref: "#/components/schemas/GenericMessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    get:
      tags:
        - Connections
      summary: Get connection(s) by identifier or id
      description: >
        Fetch connection(s) for the environment owned by the provided secret key.
        Provide either `identifier` (your app identifier) or `id` (connection id) as a query param.
      operationId: getConnection
      security:
        - SecretKeyAuth: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          description: Connection internal id (uuid)
        - name: identifier
          in: query
          schema:
            type: string
          description: Your app-specific identifier
      responses:
        "200":
          description: Connection(s) matching query
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConnectionListItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

    delete:
      tags:
        - Connections
      summary: Delete a connection
      description: >
        Deletes the connection and underlying credentials for the environment.
        Requires `id` query parameter and the environment secret key in Authorization.
      operationId: deleteConnection
      security:
        - SecretKeyAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Connection id to delete
      responses:
        "204":
          description: Connection deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /v1/connections:
    get:
      tags:
        - Connections
      summary: List all connections for the environment
      description: Requires the environment secret key in the Authorization header.
      operationId: listConnections
      security:
        - SecretKeyAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: List of connections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConnectionListItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /v1/messages:
    get:
      tags:
        - Messages
      summary: List messages
      description: Lists messages for a connected account. Requires the environment secret key in Authorization header.
      operationId: listMessages
      security:
        - SecretKeyAuth: []
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
        - name: providerCode
          in: query
          required: true
          schema:
            type: string
            enum: [outlook, gmail, smtp-imap]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/EmailMessageSummary"
                required: [messages]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      tags:
        - Messages
      summary: Send an email
      description: Sends an email via the connected provider. Requires environment secret key.
      operationId: sendMessage
      security:
        - SecretKeyAuth: []
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
        - name: providerCode
          in: query
          required: true
          schema:
            type: string
            enum: [outlook, gmail, smtp-imap]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmail"
      responses:
        "200":
          description: Email accepted for sending
          content:
            application/json:
              schema:
                type: object
                properties:
                  emailId:
                    type: string
                required: [emailId]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /v1/messages/by-id:
    get:
      tags:
        - Messages
      summary: Get a message by API message id
      description: Fetch a single message by the opaque API message id. Requires environment secret key.
      operationId: getMessageById
      security:
        - SecretKeyAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Opaque API message id returned by list/send endpoints.
      responses:
        "200":
          description: Message detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: "#/components/schemas/EmailMessageDetail"
                required: [message]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /v1/providers:
    get:
      tags:
        - Providers
      summary: List supported providers
      description: Returns available provider codes and metadata.
      operationId: listProviders
      responses:
        "200":
          description: Providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Provider"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    PublishableKeyAuth:
      type: http
      scheme: bearer
      description: "Use Authorization: Bearer <publishableKey> for /v1/connection (client flows)."
    SecretKeyAuth:
      type: http
      scheme: bearer
      description: "Use Authorization: Bearer <secretKey> for message and management endpoints (server-side)."
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
          description: Optional provider/internal error code.
      required: [error]
      additionalProperties: false

    SMTPIMAPCredentials:
      type: object
      properties:
        smtpServer:
          type: string
        smtpPort:
          type: integer
        imapServer:
          type: string
        imapPort:
          type: integer
        email:
          type: string
          format: email
        password:
          type: string
        useSSL:
          type: boolean
          default: true
      required:
        - smtpServer
        - smtpPort
        - imapServer
        - imapPort
        - email
        - password
      additionalProperties: false

    Attachment:
      type: object
      properties:
        filename:
          type: string
        content:
          type: string
          description: Base64-encoded content.
        contentType:
          type: string
          description: MIME type (e.g., application/pdf).
      required: [filename, content]
      additionalProperties: false

    SendEmail:
      type: object
      description: >
        Flexible send envelope. For simple usage include 'to' (array of emails),
        'subject' and either 'text' or 'html'. For advanced usage include 'bodies'
        and provide attachments.
      properties:
        to:
          type: array
          items:
            oneOf:
              - type: string
                format: email
              - $ref: "#/components/schemas/EmailAddress"
          minItems: 1
        cc:
          type: array
          items:
            oneOf:
              - type: string
                format: email
              - $ref: "#/components/schemas/EmailAddress"
        bcc:
          type: array
          items:
            oneOf:
              - type: string
                format: email
              - $ref: "#/components/schemas/EmailAddress"
        from:
          oneOf:
            - type: string
              format: email
            - $ref: "#/components/schemas/EmailAddress"
        replyTo:
          oneOf:
            - type: string
              format: email
            - $ref: "#/components/schemas/EmailAddress"
        subject:
          type: string
        text:
          type: string
        html:
          type: string
        bodies:
          type: array
          items:
            type: object
            properties:
              contentType:
                type: string
                enum: [text, html]
              content:
                type: string
            required: [contentType, content]
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
        headers:
          type: object
          additionalProperties:
            type: string
        thread:
          type: object
          properties:
            conversationId:
              type: string
            inReplyTo:
              type: string
            references:
              type: string
      required: [to, subject]
      additionalProperties: false

    EmailAddress:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
      required: [email]
      additionalProperties: false

    EmailMessageSummary:
      type: object
      properties:
        id:
          type: string
          description: Opaque API message id (use with /v1/messages/by-id).
        provider:
          type: string
          enum: [outlook, gmail, smtp-imap]
        providerId:
          type: string
          description: The provider's native message id.
        subject:
          type: string
        from:
          oneOf:
            - $ref: "#/components/schemas/EmailAddress"
            - type: string
        to:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/EmailAddress"
              - type: string
        date:
          type: string
          format: date-time
        snippet:
          type: string
        hasAttachments:
          type: boolean
      required: [id, provider]
      additionalProperties: true

    EmailMessageDetail:
      allOf:
        - $ref: "#/components/schemas/EmailMessageSummary"
        - type: object
          properties:
            text:
              type: string
            html:
              type: string
            attachments:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
          additionalProperties: true

    Provider:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        capabilities:
          type: array
          items:
            type: string
      required: [code, name]
      additionalProperties: true

    CreateConnectionOAuthResponse:
      type: object
      properties:
        authUrl:
          type: string
          format: uri
      required: [authUrl]
      additionalProperties: false

    GenericMessageResponse:
      type: object
      properties:
        message:
          type: string
      required: [message]
      additionalProperties: false

    ConnectionListItem:
      type: object
      properties:
        id:
          type: string
        identifier:
          type: string
        providerCode:
          type: string
          description: Provider code (gmail|outlook|smtp-imap)
        email:
          type: string
          format: email
        updatedAt:
          type: string
          format: date-time
      required: [id, identifier, providerCode]
      additionalProperties: true

security:
  - SecretKeyAuth: []
