openapi: 3.1.1
info:
  title: MailLink API
  version: 1.0.0
  description: >
    Unified email connection and messaging API for Outlook, Gmail, and SMTP/IMAP.
servers:
  - url: https://api.maillink.co
    description: Local development server
tags:
  - name: Connections
    description: Operations to initiate and manage provider connections (Outlook, Gmail, SMTP/IMAP). Requires a publishable key.
  - name: Messages
    description: Operations to list, retrieve, and send emails via connected accounts. Requires a secret key.
paths:
  /v1/connection:
    post:
      tags:
        - Connections
      summary: Create a provider connection
      description: >
        Starts an OAuth connection (Gmail/Outlook) or directly connects via
        SMTP/IMAP. Requires a publishable key in the Authorization header:
        Authorization: Bearer <publishableKey>.
      operationId: createConnection
      x-usage: |
        **Usage**

        1. Include your *publishable* API key in the request header:

           `Authorization: Bearer <publishableKey>`

        2. Required query parameters:
           - `providerCode` — one of `outlook`, `gmail`, `smtp-imap`
           - `identifier` — your app-specific identifier for the target account
           - `redirectAfterAuth` — a URL the user will be redirected to after OAuth completes

        3. Behavior:
           - For `gmail` / `outlook` the response returns a JSON object `{ "authUrl": "<url>" }`. Redirect the user to the returned `authUrl` to complete the OAuth flow.
           - For `smtp-imap` POST the SMTP/IMAP credentials in the request body (see `SMTPIMAPCredentials` schema). The endpoint will attempt a direct connection and return a confirmation message on success.
      security:
        - PublishableKeyAuth: []
      parameters:
        - name: providerCode
          in: query
          required: true
          schema:
            type: string
            enum: [outlook, gmail, smtp-imap]
          description: Provider to connect.
        - name: identifier
          in: query
          required: true
          schema:
            type: string
          description: Your app-specific identifier for the user/account being connected.
        - name: redirectAfterAuth
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: URL to redirect to after OAuth completes (URL-encoded in the request).
      requestBody:
        required: false
        description: Required only when providerCode is "smtp-imap" — provide SMTP/IMAP credentials.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SMTPIMAPCredentials"
      responses:
        "200":
          description: Connection initiated
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      authUrl:
                        type: string
                        format: uri
                        description: OAuth authorization URL (Gmail/Outlook).
                    required: [authUrl]
                  - type: object
                    properties:
                      message:
                        type: string
                        example: SMTP/IMAP connected successfully
                    required: [message]
        "400":
          description: Bad request (e.g., missing SMTP/IMAP params)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or provider not enabled/invalid key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error or provider auth link failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/messages:
    get:
      tags:
        - Messages
      summary: List messages
      description: "Lists messages for a connected account. Requires the secret key in the Authorization header: Authorization: Bearer <secretKey>."
      operationId: listMessages
      x-usage: |
        **Usage**

        1. Authenticate with the *secret* key for the environment:

           `Authorization: Bearer <secretKey>`

        2. Required query parameters:
           - `identifier` — your app identifier for the connected account
           - `providerCode` — `outlook` | `gmail` | `smtp-imap`

        3. Optional query parameters:
           - `limit` — max number of messages to return (default: 10)
           - `offset`, `search` — reserved for future use

        4. Response:
           - Returns `{ "messages": [ EmailMessageSummary, ... ] }`.
           - Each message contains an opaque `id` (use this with `/v1/messages/by-id` to fetch full details).
      security:
        - SecretKeyAuth: []
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
        - name: providerCode
          in: query
          required: true
          schema:
            type: string
            enum: [outlook, gmail, smtp-imap]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Reserved for future use.
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Reserved for future use.
      responses:
        "200":
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/EmailMessageSummary"
                required: [messages]
        "401":
          description: Unauthorized or connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Provider-specific error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Messages
      summary: Send an email
      description: "Sends an email via the connected provider. Requires the secret key in the Authorization header: Authorization: Bearer <secretKey>."
      operationId: sendMessage
      x-usage: |
        **Usage**

        1. Authenticate with the environment secret key:

           `Authorization: Bearer <secretKey>`

        2. Select the target connected account via query params:
           - `identifier` — your account identifier
           - `providerCode` — `outlook` | `gmail` | `smtp-imap`

        3. Request body (JSON):
           - Minimal: `{ "to": ["recipient@example.com"], "subject": "Hello" }`
           - Convenience: you may include top-level `text` or `html` fields for simple bodies.
           - Advanced: use `bodies` (array of `{contentType, content}`), `attachments`, and `thread` fields to send attachments or thread replies.

        4. Response:
           - On success returns `{ "emailId": "<opaque-id>" }`. This opaque id can be used with `/v1/messages/by-id` to retrieve the sent message.
      security:
        - SecretKeyAuth: []
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
        - name: providerCode
          in: query
          required: true
          schema:
            type: string
            enum: [outlook, gmail, smtp-imap]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmail"
      responses:
        "200":
          description: Email accepted for sending
          content:
            application/json:
              schema:
                type: object
                properties:
                  emailId:
                    type: string
                required: [emailId]
        "401":
          description: Unauthorized or connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Provider is not supported or send failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/messages/by-id:
    get:
      tags:
        - Messages
      summary: Get a message by API message ID
      description: Fetches a single message by its opaque API message id. The id is produced by the server and encodes provider details; requires the secret key in Authorization header.
      operationId: getMessageById
      x-usage: |
        **Usage**

        1. Authenticate with the environment secret key:

           `Authorization: Bearer <secretKey>`

        2. Query parameter:
           - `id` — opaque API message id returned by `/v1/messages` or `/v1/messages` (send).

        3. Behavior:
           - The server decrypts the opaque `id` to obtain providerId/provider/identifier/environment.
           - The server validates that the provided secret key belongs to the same environment embedded in the id.

        4. Response:
           - On success returns `{ "message": EmailMessageDetail }` including bodies (text/html) and attachments.
      security:
        - SecretKeyAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Opaque API message id returned by send/list endpoints.
      responses:
        "200":
          description: Message detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: "#/components/schemas/EmailMessageDetail"
                required: [message]
        "400":
          description: Invalid message id format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or environment mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Provider-specific error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    PublishableKeyAuth:
      type: http
      scheme: bearer
      description: "Use Authorization: Bearer <publishableKey> for /v1/connection."
    SecretKeyAuth:
      type: http
      scheme: bearer
      description: "Use Authorization: Bearer <secretKey> for message endpoints."
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
          description: Optional provider error code.
      required: [error]
      additionalProperties: false

    SMTPIMAPCredentials:
      type: object
      properties:
        smtpServer:
          type: string
        smtpPort:
          type: integer
        imapServer:
          type: string
        imapPort:
          type: integer
        email:
          type: string
          format: email
        password:
          type: string
        useSSL:
          type: boolean
          default: true
      required:
        - smtpServer
        - smtpPort
        - imapServer
        - imapPort
        - email
        - password
      additionalProperties: false

    Attachment:
      type: object
      properties:
        filename:
          type: string
        content:
          type: string
          description: Base64-encoded content.
        contentType:
          type: string
          description: MIME type (e.g., application/pdf).
      required: [filename, content]
      additionalProperties: false

    SendEmail:
      type: object
      description: >
        Flexible send envelope. For simple usage include 'to' (array of emails),
        'subject' and either 'text' or 'html'. For advanced usage include 'bodies'
        as an array of {contentType, content} entries and provide attachments.
      properties:
        to:
          type: array
          items:
            oneOf:
              - type: string
                format: email
              - $ref: "#/components/schemas/EmailAddress"
          minItems: 1
        cc:
          type: array
          items:
            oneOf:
              - type: string
                format: email
              - $ref: "#/components/schemas/EmailAddress"
        bcc:
          type: array
          items:
            oneOf:
              - type: string
                format: email
              - $ref: "#/components/schemas/EmailAddress"
        from:
          oneOf:
            - type: string
              format: email
            - $ref: "#/components/schemas/EmailAddress"
        replyTo:
          oneOf:
            - type: string
              format: email
            - $ref: "#/components/schemas/EmailAddress"
        subject:
          type: string
        text:
          type: string
          description: Simple plain-text body (convenience - maps to bodies)
        html:
          type: string
          description: Simple HTML body (convenience - maps to bodies)
        bodies:
          type: array
          items:
            type: object
            properties:
              contentType:
                type: string
                enum: [text, html]
              content:
                type: string
            required: [contentType, content]
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
        headers:
          type: object
          additionalProperties:
            type: string
        thread:
          type: object
          properties:
            conversationId:
              type: string
            inReplyTo:
              type: string
            references:
              type: string
      required: [to, subject]
      additionalProperties: false

    EmailAddress:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
      required: [email]
      additionalProperties: false

    EmailMessageSummary:
      type: object
      description: >
        Message summary. Fields are normalized across providers where possible;
        additional provider-specific fields may be present.
      properties:
        id:
          type: string
          description: Opaque API message id (use with /v1/messages/by-id).
        provider:
          type: string
          enum: [outlook, gmail, smtp-imap]
        providerId:
          type: string
          description: The provider's native message id.
        subject:
          type: string
        from:
          oneOf:
            - $ref: "#/components/schemas/EmailAddress"
            - type: string
        to:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/EmailAddress"
              - type: string
        date:
          type: string
          format: date-time
        snippet:
          type: string
        hasAttachments:
          type: boolean
      required: [id, provider]
      additionalProperties: true

    EmailMessageDetail:
      allOf:
        - $ref: "#/components/schemas/EmailMessageSummary"
        - type: object
          properties:
            text:
              type: string
            html:
              type: string
            attachments:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
          additionalProperties: true
